.review_container {
    margin-bottom: 32px;
}

.photo_name_rating_container {
    display: flex;
    gap: 12px;
}

.name_rating_container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.name {
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8a8a89;
    margin: 0;
}

.rating_container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.star {
    width: 16px;
    height: 16px;
    fill: #ffc531;
}

.rating_value {
    margin: 0;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #121417;
}

.review {
    margin: 0;
    margin-top: 16px;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #121417;
}