.auth_links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.login_button {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #121417;
    border: none;
    background-color: inherit;
}

.username {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #121417;
    border: none;
    background-color: inherit;
}

.login_icon {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: #F4C550;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.registration_button {
    border: none;
    border-radius: 12px;
    padding: 14px 39px;
    width: 166px;
    height: 48px;
    background: #121417;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #fff;
    text-decoration: none;
}

.logout_button {
    border: none;
    border-radius: 12px;
    padding: 14px 39px;
    width: 166px;
    height: 48px;
    background: #121417;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #fff;
    text-decoration: none;
}

.heading {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #121417;
    margin-bottom: 20px;
}

.description {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: rgba(18, 20, 23, 0.8);
    margin-bottom: 40px;
}

